
{% assign posts = collections.posts | reverse %}

<div id="access-lastmod" class="post">
	<div class="panel-heading">Latest Posts</div>
	<ul class="post-content pl-0 pb-1 ml-1 mt-2">
		{% for post in posts limit:5 %}
		<li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
		{% endfor %}
	</ul>
</div> <!-- #access-lastmod -->

