---
permalink: /2024/06/19/pdf-embed-web-component-available-via-npm/pdf.html
---

<pdf-embed url="https://documentservices.adobe.com/view-sdk-demo/PDFs/Bodea Brochure.pdf" width="100%" height="500px"
		   key="9861538238544ff39d37c6841344b78d">

<p>
Read our cool PDF <a href="https://documentservices.adobe.com/view-sdk-demo/PDFs/Bodea Brochure.pdf">here</a>.
iframepdf

</p>

</pdf-embed>

<script defer src="/js/pdf-embed.js" type="module"></script>
