---
layout: main
---

<div class="row">

  <!-- core -->
  <div id="core-wrapper" class="col-12 col-lg-11 col-xl-9 pr-xl-4">
    <div class="post pl-1 pr-1 pl-md-2 pr-md-2">

      <h1 class="dynamic-title">
        {{ title }}
      </h1>
      {% if post == true %}
      {{ content }}
      {% else %}
      <div class="post-content">
        {{ content }}
      </div>
      {% endif %}
    </div>
  </div> <!-- #core-wrapper -->

  <!-- panel -->
  <div id="panel-wrapper" class="col-xl-3 pl-2 text-muted">

    <div class="access">
      {% include "update-list.liquid" %}
    </div>

	{% comment %}
    {% for _include in layout.panel_includes %}
      {% assign _include_path = _include | append: '.html' %}
      {% include {{ _include_path }} %}
    {% endfor %}
	{% endcomment %}
  </div>

</div>
